node_modules/
.gitignore
.elasticbeanstalk/
node_modules/
.gitignore
.elasticbeanstalk/
.env 


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
